/*
orange- #f29221 
yellow - #ffe145
darckblue - #1b2e6a
lightblue - #2a5aa2
white - #ffffff
*/
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px 23px 26px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -2px 23px 26px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 23px 26px -6px rgba(0, 0, 0, 0.2);
  
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.phone a{
  margin-left: 5px;
}

.hero-link-block a {
  text-decoration: none;
  display: block;
}
.hero-link-block {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  
}
.hero-link {
  padding: 2% 5% 2% 5%;
  border: 1px solid #ffe145;
  color: #1b2e6a;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5%;
  display: inline-block; /* Ensures proper spacing and layout */
  text-align: center;
}

.hero-link:hover {
  background-color: #f29221;
  color: #fff;
  border: 1px solid #f29221;
}

.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.show_bt {
  padding: 20px;
  color: #1b2e6a;
  background-color: #2a5aa28c;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  display: inline-block; /* Ensures proper spacing and layout */
  text-align: center;
  border-radius: 5px;
}

.show_bt:hover {
  background-color: #1b2e6a;
  color: #fff;
}

.subtext {
  display: block; /* Makes the subtext appear on a new line */
  font-size: 10px; /* Smaller font size for subtext */
  color: inherit; /* Optional: Inherits color from the parent element */
  font-weight: 300; /* Optional: Resets the font weight if needed */
}

.suggestion-block {
  padding: 20px;
  width: 60%;
  box-shadow: 200px 0px 222px 24px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 200px 0px 222px 24px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 200px 0px 222px 24px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.suggestion-block ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.suggestion-block ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.suggestion-block ul li div {
  margin-right: 20px;
  color: #1b2e6a;
}
.menu li {
  padding: 10px;
}

.menu li a {
  text-decoration: none;
  color: #1b2e6a;
  font-size: 20px;
  font-weight: 400;
}

.menu li a:hover {
  color: #f29221;
}

.content {
  padding: 20px;
}

.hero-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  
}

.hero-block div img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
  
}

.hero-text h2 {
  color: #1b2e6a;
  font-size: 70px;
  font-weight: 500;
}

.product-block {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
}

.product-block h2 {
  color: #1b2e6a;
  font-size: 40px;
  font-weight: 500;
}

.product-block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.product-block ul li {
  margin: 20px;
  width: 20%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
}
.product-block ul li div {
  width: 100%;
}

.product-block ul li div p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #f29221;
}

.product-block ul li div p:hover {
  color: #1b2e6a;
}

.product-block ul li div img {
  width: 100%;
}

.category-block {
  margin-top: 3%;
  width: 100%;
}

.category-block h2 {
  color: #1b2e6a;
  font-size: 40px;
  font-weight: 500;
}

.category-block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.category-block ul li {
  margin: 20px;
  width: 20%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
}
.category-block ul li div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  
}

.category-block ul li div p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #f29221;
}

.category-block ul li div p:hover {
  color: #1b2e6a;
}

.category-block ul li div img {
  width: auto;
  height: auto;
  padding-top: 20px;
}

.newsletter-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  
  background-color: #2a5aa270;
  width: 100%;
  height: 100%;
}

.newsletter-block .content {
  margin: 5% 20% 5% 20%;
  width: 100%;
}

.newsletter-block .content .block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.newsletter-block .content .block .text {
  width: 40%;
  text-align: center;
}

.newsletter-block .content .block .form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.newsletter-block .content .block .form form {
  width: 100%;
}

.newsletter-block .content .block .form input {
  padding: 3%;
  border-radius: 5px;
  border: 1px solid #1b2e6a;
  width: 70%;
  background-color: #fafafaec;
  color: #1b2e6a;
  font-size: 16px;
  font-weight: 600;
}

.newsletter-block .content .block .form button {
  padding: 3%;
  border-radius: 5px;
  border: 1px solid #1b2e6a;
  background-color: #f29221;
  color: #1b2e6a;
  font-size: 16px;
  font-weight: 600;
}

.newsletter-block .content .block .form button:hover {
  background-color: #1b2e6a;
  color: #f29221;
}

.newsletter-block .content h2 {
  color: #1b2e6a;
  font-size: 45px;
  font-weight: 500;
}

.footer {
  background-color: #1b2e6a;
  padding: 20px;
  text-align: center;
}
