/*
orange- #f29221 
yellow - #ffe145
darckblue - #1b2e6a
lightblue - #2a5aa2
white - #ffffff
*/
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px 23px 26px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -2px 23px 26px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 23px 26px -6px rgba(0, 0, 0, 0.2);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe145;
  /* padding: 5px; */
  border-radius: 10px;
}

.phone:hover {
  background-color: #f29221;
}
.phone a:hover {
  color: #1b2e6a !important;
}
.phone a {
  margin-left: 5px;
}

.hero-link-block a {
  text-decoration: none;
  display: block;
}
.hero-link-block {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero-link {
  padding: 2% 5% 2% 5%;
  border: 1px solid #ffe145;
  color: #1b2e6a;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5%;
  display: inline-block; /* Ensures proper spacing and layout */
  text-align: center;
}

.hero-link:hover {
  background-color: #f29221;
  color: #fff;
  border: 1px solid #f29221;
}

.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show_bt {
  padding: 20px;
  color: #1b2e6a;
  background-color: #2a5aa28c;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  display: inline-block; /* Ensures proper spacing and layout */
  text-align: center;
  border-radius: 5px;
}

.show_bt:hover {
  background-color: #1b2e6a;
  color: #fff;
}

.subtext {
  display: block; /* Makes the subtext appear on a new line */
  font-size: 10px; /* Smaller font size for subtext */
  color: inherit; /* Optional: Inherits color from the parent element */
  font-weight: 300; /* Optional: Resets the font weight if needed */
}

.suggestion-block {
  padding: 20px;
  width: 60%;
  box-shadow: 200px 0px 222px 24px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 200px 0px 222px 24px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 200px 0px 222px 24px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.suggestion-block ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.suggestion-block ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.suggestion-block ul li div {
  margin-right: 20px;
  color: #1b2e6a;
}
.menu li {
  padding: 10px;
}

.menu li a {
  text-decoration: none;
  color: #1b2e6a;
  font-size: 20px;
  font-weight: 400;
}

.menu li a:hover {
  color: #f29221;
}

.content {
  padding: 20px;
}

.hero-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-block div img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
}

.hero-text h2 {
  color: #1b2e6a;
  font-size: 70px;
  font-weight: 500;
}

.product-block {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
}

.product-block h2 {
  color: #1b2e6a;
  font-size: 40px;
  font-weight: 500;
}

.product-block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-block ul li {
  margin: 20px;
  width: 20%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.product-block ul li div {
  width: 100%;
}

.product-block ul li div p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #f29221;
}

.product-block ul li div p:hover {
  color: #1b2e6a;
}

.product-block ul li div img {
  width: 100%;
}

.category-block {
  margin-top: 3%;
  width: 100%;
}

.category-block h2 {
  color: #1b2e6a;
  font-size: 40px;
  font-weight: 500;
}

.category-block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.category-block ul li {
  margin: 20px;
  width: 20%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.category-block ul li div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.category-block ul li div p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #f29221;
}

.category-block ul li div p:hover {
  color: #1b2e6a;
}

.category-block ul li div img {
  width: auto;
  height: auto;
  padding-top: 20px;
}

.newsletter-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;

  background-color: #2a5aa270;
  width: 100%;
  height: 100%;
}

.newsletter-block .content {
  margin: 5% 10% 5% 10%;
  width: 100%;
}

.newsletter-block .content .block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.newsletter-block .content .block .text {
  width: 50%;
  text-align: center;
}

.newsletter-block .content .block .form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.newsletter-block .content .block .form form {
  width: 100%;
}

.newsletter-block .content .block .form input {
  padding: 3%;
  border-radius: 5px;
  border: 1px solid #1b2e6a;
  width: 70%;
  background-color: #fafafaec;
  color: #1b2e6a;
  font-size: 16px;
  font-weight: 600;
}

.newsletter-block .content .block .form button {
  padding: 3%;
  border-radius: 5px;
  border: 1px solid #1b2e6a;
  background-color: #f29221;
  color: #1b2e6a;
  font-size: 16px;
  font-weight: 600;
}

.newsletter-block .content .block .form button:hover {
  background-color: #1b2e6a;
  color: #f29221;
}

.newsletter-block .content h2 {
  color: #1b2e6a;
  font-size: 45px;
  font-weight: 500;
}

.gallery {
  width: 100%;
}

.gallery h2 {
  color: #1b2e6a;
  font-size: 40px;
  font-weight: 500;
}

.gallery ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gallery ul li {
  margin: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.gallery ul li div {
  width: 100%;
}

.gallery ul li div img {
  width: 100%;
}

.footer {
  background-color: #1b2e6a;
}

.footer .content {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .hero-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .hero-block div img {
    width: 100%;
    height: 100%;
  }

  .hero-text {
    margin-top: 1%;
    justify-content: center;
  }

  .hero-text h2 {
    font-size: 40px;
  }

  .hero-link-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }

  .hero-link {
    margin: 1% 0 1% 0;
  }

  .hero-link {
    display: block;
    width: 100%;
  }

  .suggestion-block {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  }

  .suggestion-block ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .suggestion-block ul li {
    width: 100%;
    justify-content: flex-start;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .product-block ul {
    flex-direction: column;
  }
  .product-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .show_bt {
    width: 75%;
  }
  .product-block ul li {
    width: 75%;
  }

  .category-block ul {
    flex-direction: column;
  }

  .category-block ul li {
    width: 50%;
  }

  .gallery ul {
    flex-direction: column;
  }

  .gallery ul li {
    width: 50%;
  }

  .footer .content {
    flex-direction: column;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  /* Style for menu when it's open */
  .menu ul.show {
    display: flex;
  }

  /* Additional mobile styles for menu items */
  .menu li {
    text-align: center;
  }

  /* Style for the toggle button */
  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    position: absolute;
    left: 20px;
  }
  .header-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* .phone a {
    margin-left: 5px;
  } */
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 1300px) {
  .newsletter-block .content .block {
    flex-direction: column;
  }

  .newsletter-block .content .block .text {
    width: 100%;
    text-align: center;
  }

  .newsletter-block .content .block .form {
    width: 100%;
    margin-top: 2%;
  }

  .newsletter-block .content .block .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .newsletter-block .content .block .form input {
    width: 100%;
    padding: 3% 0 3% 0 !important;
    text-align: center;
  }

  .newsletter-block .content .block .form button {
    width: 100%;
    margin-top: 1%;
  }
}

.mascot {
  position: fixed;
  width: 100px; /* Adjust based on your image size */
  height: auto;
  z-index: 1000; /* Ensures it's above other content */
  animation: moveAround 30s infinite; /* Adjust time as needed */
}

@keyframes moveAround {
  0%,
  100% {
    top: 0;
    left: 0;
    opacity: 0; /* Mascot is fully visible at the start and end */
  }
  5% {
    top: 0;
    left: 25%; /* Move to the middle of the right edge */
    opacity: 0.3;
  }
  10% {
    top: 70%;
    left: 35%; /* Move to the middle of the right edge */
    opacity: 0.5;
  }
  20% {
    top: 0;
    left: 50%; /* Move to the middle of the right edge */
    opacity: 0; /* Ensure mascot is visible while moving */
  }
  40% {
    top: 50%;
    left: calc(100% - 100px); /* Move diagonally to the bottom right corner */
    opacity: 1;
  }
  60% {
    top: calc(100% - 100px);
    left: 50%; /* Move to the middle of the left edge */
    opacity: 1;
  }
  80% {
    top: 50%;
    left: 80%; /* Move diagonally to the top left corner */
    opacity: 1;
  }
  90% {
    opacity: 0.4; /* Start fading out */
    top: 40%;
  }
  95% {
    opacity: 0; /* Mascot is fully invisible */
  }
}
